<nav id="navbar" class="navbar navbar-expand-md">
  <div class="container-fluid">
    <ul class="navbar-nav navbar-left">
      <button type="button" class="btn btn-default" onclick="toggleSidebar()">
        <i id="media_nav_toggler" class="fas fa-bars"></i>
      </button>
      <p id="page_title"></p>
    </ul>
    <ul class="navbar-nav navbar-right">
      <button id="search_navbar_button" type="button" class="btn btn-default">
        <i class="fas fa-search fa-flip-horizontal"></i>
      </button>
      <button id="profile_navbar_button" type="button" class="btn btn-default">
        <i class="fas fa-user-circle"></i>
      </button>
    </ul>
  </div>
</nav>
