<div id="sidebar" class="sidebar">
  <button id="movies_sidebar_button" type="button" class="btn btn-default">
    <i class="fas fa-ticket-alt"></i>
  </button>
  <button id="tv_sidebar_button" type="button" class="btn btn-default">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="icon" style="vertical-align: initial"><rect x="2" y="7" width="20" height="15" rx="2" ry="2"></rect><polyline points="17 2 12 7 7 2"></polyline></svg>
  </button>
  <button id="books_sidebar_button" type="button" class="btn btn-default">
    <i class="fas fa-book"></i>
  </button>
  <button id="music_sidebar_button" type="button" class="btn btn-default">
    <i class="fas fa-headphones"></i>
  </button>
  <button id="video_games_sidebar_button" type="button" class="btn btn-default">
    <i class="fas fa-gamepad"></i>
  </button>
</div>
